@model IEnumerable<mvctest.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.name, "Details", "Customers", new { id = item.id}, null)
            </li>
        }
    </ul>    
}

